<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email List</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <h1>Results</h1>
    <ul>
        {% for email in emails %}
            <li class="email-box">
                <u>Subject:</u> 
                {{ email.subject }}  <br> <br>
                {{ email.content }} <br><br> 
                Result: <strong>{{ email.spam_or_real }}</strong>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
